<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
           Informações da série
        </ion-title>
    </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{serie.nome}}</ion-card-title>
                <ion-card-subtitle>{{serie.temporadas}} Temporadas</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                A serie {{serie.nome}} tem {{serie.temporadas}} temporadas <br>
                <app-avaliacao nota="{{serie.nota}}"></app-avaliacao>
            </ion-card-content>
        </ion-card>
    </ion-content>