<ion-header [translucent]="true">
<ion-toolbar>
    <ion-title>
        Listar Series
    </ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let serie of series">
            <ion-label>
            <h2>{{serie.nome}}</h2>
            <h3>A serie tem {{serie.temporadas}} temporadas</h3>
            <h3>Nota: {{serie.nota}}</h3>
            <app-avaliacao nota="{{serie.nota}}"></app-avaliacao> <br>
            <a [routerLink]="['/series/info', serie.id]">Visualisar</a>
        </ion-label>    
        </ion-item>
    </ion-list>
</ion-content>